.report-container .mensaje-covid {
    padding: 0.8rem 1.2rem;
    background: #9AF185;
    color: #707070;
    border-radius: 1rem;
    font-size: 0.85rem;
}

.report-container div {
    font-size: 0.91rem;
}