
.cv{
  background-image: url("../assets/img/vumOfficeImgs/background-form-1.png");
    /* background-color: #ffffff; */
  }

  .cv .card{
    background-color: #F9FAFD;
  }

  @media (max-width: 700px) { 

    .cv .card .card-header{
      text-align: center;
    }
   }


  .navbarPaddingCV {
    background-color: #F9FAFD;

  }

 .cv .nav-link.active{
    background-color: #816DDD;
  }

  .cv .nav-link{
    color:#707070;
  }

  .cv hr{
    color:#D8E2EF;
  }

  .backGreen{
    background-color: #74E36B;
    color:#ffffff;
   }

   .input-hidden {
    position: absolute;
    left: -9999px;
    
  }

  .removeBorder{
    border:none;
  }

  /* .cv input[type="file"] {
    display: none;
} */

  .custom-file-upload {
    border: 1px solid var(--falcon-input-border-color);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
  }
  

  .cv .card-header{
    color: #373737;
    font-size: 35px;
  }


  .text-primaryNavbar{
    color: #1783EE;
  }

  /* .navbar-vertical.navbar-expand-xl+.content .navbar-top{
    background: transparent linear-gradient(272deg, #1783EE 0%, #816DDD 100%) 0% 0% no-repeat padding-box;
    opacity: 1;   
  } */


  .cv .table{
    border-color: #D8E2EF;
  }


  .cv label.btn-outline-primary, .cv label.btn-outline-danger{
    width: 20vh;

  }


  .cv .btn-check:checked+.btn-outline-primary{
    background: #DFECFF 0% 0% no-repeat padding-box;
    border: 1px solid #1783EE;
    border-radius: 6px;
    opacity: 1;
    color:#2c7be5;
  }


  .cv .btn-check:checked+.btn-outline-danger{
    background: #e63757 0% 0% no-repeat padding-box;
    border: 1px solid #e63757;
    border-radius: 6px;
    opacity: 1;
    /* color:#2c7be5; */
  }

  

  /* #E3E3E3 color boton gris */
  /* #74E36B color verde boton */


  .checkGreen{
    color: #74E36B ;
    opacity: 1;
  }
  .checkGrey{
    color: #E3E3E3;
    opacity: 1;
  }
  .listnavCV{
    color:#1783EE;
  }

  .bg-CV{
    background-color: #74E36B;
    
  }

  .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl .bg-CV{
    padding-bottom: 100%;
  }

  .colorBackButton{
    color: #0F4F80;
    padding: 10px;
  }

  .navbarPaddingcv{
    height:calc(100vh - 10.3125rem) !important ;
  }

  .navbar-vertical .navbar-vertical-label{
    font-size: 14px;
  }

  
  .colorSquare{
    color:#1783EE ;
  }

  .colorTrash{
    color: #ED635A;
  }

  .text-dangerpdf{
    color: #ED635A ;
  }

  .swal2-icon.swal2-success {
      border-color: #6AFA46;
      color: #6AFA46;
  }

  .swal2-icon.swal2-warning {
    border-color: #FAB239;
    color: #FAB239;
  }

  .swal2-icon.swal2-error {
    border-color: #FA746B;
    color: #FA746B;
  }

  