
.cv{
    background-image: none !important;
    background-color: #ffffff;
  }

  .cv .card{
    background-color: #F9FAFD;
  }

  .navbarPaddingCV {
    background-color: #F9FAFD;

  }

 .cv .nav-link.active{
    background-color: #816DDD;
  }

  .backGreen{
    background-color: #74E36B;
    color:#ffffff;
   }

   .input-hidden {
    position: absolute;
    left: -9999px;
    
  }

  .removeBorder{
    border:none;
  }

  .cv input[type="file"] {
    display: none;
}

  .custom-file-upload {
    border: 1px solid var(--falcon-input-border-color);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
  }
  

  .cv .card-header{
    color: #373737;
    font-size: 35px;
  }


  .text-primaryNavbar{
    color: #1783EE;
  }

  /* .navbar-vertical.navbar-expand-xl+.content .navbar-top{
    background: transparent linear-gradient(272deg, #1783EE 0%, #816DDD 100%) 0% 0% no-repeat padding-box;
    opacity: 1;   
  } */


  .cv .table{
    border-color: #D8E2EF;
  }


  .cv label.btn-outline-primary, .cv label.btn-outline-danger{
    width: 20vh;

  }


  .cv .btn-check:checked+.btn-outline-primary{
    background: #DFECFF 0% 0% no-repeat padding-box;
    border: 1px solid #1783EE;
    border-radius: 6px;
    opacity: 1;
    color:#2c7be5;
  }


  .cv .btn-check:checked+.btn-outline-danger{
    background: #e63757 0% 0% no-repeat padding-box;
    border: 1px solid #e63757;
    border-radius: 6px;
    opacity: 1;
    /* color:#2c7be5; */
  }

  

  /* #E3E3E3 color boton gris */
  /* #74E36B color verde boton */


  .checkGreen{
    color: #74E36B ;
    opacity: 1;
  }
  .checkGrey{
    color: #E3E3E3;
    opacity: 1;
  }
  .listnavCV{
    color:#1783EE;
  }

  